/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 50px;
  width: 50px;
}

.albums {
  list-style: none;
  padding-left: 10px;
}

.albums li {
  clear: both;
  height: 71px;
  padding-top: 15px;
}

#search {

}

#search input[type="text"] {
    background: url(../img/search-white.png) no-repeat 10px 6px white;
    border: 1px solid #d1d1d1;
    font: 12px Arial,Helvetica,Sans-serif;
    width: 100%;
    padding: 6px 15px 6px 35px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15) inset;
}
    
.album-cover-big {
    width: 240px;
    height: 240px;
}

.trash-button {
    float: right;
    margin: -3em 1em 1.5em 0;
    padding-bottom: 1em;
}

.width-100-percent {
    width: 25em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.pdac-label {
    display: inline-block;
    width: 6em;
    text-align: right;
}

.pdac-label.required:before {
    content: "*";
    font-weight: bold;
    color: red;
}

.album-field {
    width: 20em;
}

.invalid-field {
    border-color: red;
}

.header-bar {
    width: 100%;
    height: 50px;
    background-image: none, -webkit-linear-gradient(top, #1b85c8 0, #469cd3 100%);
    background-image: none, -moz-linear-gradient(top, #1b85c8 0, #469cd3 100%);
    background-image: none, -o-linear-gradient(top, #1b85c8 0, #469cd3 100%);
    background-image: none, linear-gradient(to bottom, #1b85c8 0, #469cd3 100%);
    background-color: #004eb6;
    margin-bottom: 15px;
}

.pd-albums-catalog-logo {
    margin-top: 8px;
    margin-left: 30px;
    background-image: "../img/pd-albums-catalog-logo.png";
}

#tracks-list {
    
}

#tracks-list li {
    width: 251px;
    height: 30px;
}

#tracks-list button {
    float: right;
}
             