<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <image class="album-cover-big" ng-src="{{coverImageURL}}">
        
        </div>

        <div class="col-md-5">

            <fieldset>
                <p>
                    <span class="pdacLabel required">Title:</span>
                    <input ng-model="newAlbum.title" type="text" placeholder="Type a title..." class="k-textbox albumField" required validationMessage="Hey! Your album must have a name."/>
                </p>
                <p>
                    <span class="pdacLabel required">Artist:</span> 
                    <input kendo-auto-complete ng-model="newAlbum.artist" k-data-source="artistsDataSource" placeholder="Type an artist..."  required validationMessage="Hey! Your album must have an artist." class="albumField"/>
                </p>
                <p>
                    <span class="pdacLabel">Genre:</span> 
                    <input kendo-auto-complete ng-model="newAlbum.genre" k-data-source="genresDataSource" placeholder="Type a genre..." class="albumField" />
                </p>
                <p>
                    <span class="pdacLabel">Label:</span> 
                    <input kendo-auto-complete ng-model="newAlbum.label" k-data-source="labelsDataSource" placeholder="Type a label..." class="albumField" />
                </p>
                <p>
                    <span class="pdacLabel">Year:</span> 
                    <input kendo-masked-text-box k-mask="'0000'" ng-model="newAlbum.year" class="albumField" />
                </p>
                    <span class="pdacLabel">Cover:</span> 
                    <input placeholder="Paste the URL of an image on the web..." ng-model="newAlbum.coverPath" class="k-textbox albumField" >
                <p>
                <p>
                    <span class="pdacLabel">Collection:</span> 
                    <input kendo-auto-complete ng-model="newAlbum.collection" k-data-source="collectionAutocompleteDataSource" placeholder="Type a collection..." class="albumField"/>
<!--                    Collection: <select kendo-combo-box
                                    k-placeholder="'Select or type a collection'"
                                    k-filter="contains"
                                    k-auto-bind="false"
                                    k-min-length="2"
                                    k-data-source="collectionsDataSource"
                                    k-change="collectionSelected"></select>-->
                </p>
            </fieldset>

        </div>
        <div class="col-md-4">
            <h5>Tracks</h5><!--<span>(drag to reorder)</span>-->
            <p>
                <span class="pdacLabel">New Track:</span> 
                <input ng-model="newTrack" ng-keyup="addNewTrackEnter($event)" class="k-textbox"><button style="margin-left: 6px;" kendo-button ng-click="addNewTrack()">+</button>
            </p>
<!--            <ol kendo-sortable k-change="trackReordered">-->
            <ol>
                <li ng-repeat="track in newAlbum.tracks">{{track.name}}<button kendo-button style="margin-left: 6px;" ng-click="removeTrack($index)">x</button></li>
            </ol>
            
        </div>
    </div>
    <div class="row">
        <button kendo-button class="k-primary" ng-click="insertAlbum()">Save album</button> 
        <a kendo-button href="#/albums" type="submit">Back</a>
    </div>
</div>

